<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script>
			const submitUrl = "<%= submitUrl %>";
			const resultsUrl = "<%= resultsUrl %>";
		</script>
	</head>
	<body>
		<div class="wrapper">
			<div class="header" id="countdown">New winner in x s..</div>
			<div class="list">
				<ul id="results">
					<% results.forEach(function(result) { %>
					<li>
						<span class="winners"><%= result.winners %></span>
						<span class="number"><%= result.number %></span>
					</li>
					<% }); %>
				</ul>
			</div>
			<div class="form">
				<form id="entry" action="#">
					<div class="inputs">
						<input id="name" type="text" required />
						<input id="number" type="number" min="1" max="30" required />
					</div>
					<button onclick="submitEntry()">Submit</button>
				</form>
			</div>
		</div>
		<script src="/javascripts/index.js"></script>
	</body>
</html>
