<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script>
			const submitUrl = "<%= submitUrl %>";
			const resultsUrl = "<%= resultsUrl %>";
		</script>
	</head>
	<body>
		<div class="wrapper">
			<div class="header" id="countdown">New winner in x s..</div>
			<div class="list">
				<ul id="results">
					<% results.forEach(function(result) { %>
					<li>
						<div class="winners"><%= result.winners %></div>
						<div class="number"><%= result.number %></div>
					</li>
					<% }); %>
				</ul>
			</div>
			<div class="form">
				<form id="entry" action="#">
					<div class="inputs">
						<!-- <input id="name" type="text" required /> -->
						<fieldset class="float-label-field">
							<label for="name">Name</label>
							<input id="name" type="text" required />
						</fieldset>
						<!-- <input id="number" type="number" min="1" max="30" required /> -->
						<fieldset class="float-label-field">
							<label for="number">Number</label>
							<input id="number" type="number" min="1" max="30" required />
						</fieldset>
					</div>
					<button class="button-36" onclick="submitEntry()">Submit</button>
				</form>
			</div>
		</div>
		<script src="/javascripts/index.js"></script>
	</body>
</html>
